input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  border: 1px solid rgb(131, 126, 126);
}

#btn-edit {
  margin-right: 5px;
}
